@page
@model LoginModel

@{
    Layout = "";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Вход</title>

    <link rel="stylesheet" href="~/dist/css/vendor.css" asp-append-version="true" />
    <environment exclude="Development">
        <link rel="stylesheet" href="~/dist/css/site.css" asp-append-version="true" />
    </environment>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/page-login.css" />
</head>


<div class="login-wrapper">
    <div class="login-header">
        <div class="logo-wrapper">
            <h1 class="logo">WPInventory</h1>
        </div>
    </div>
    <div class="login-page">
        <div class="login-box">
            <div class="page-auth">
                <h1>Вход</h1>
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <fieldset>
                        <div class="form-group">
                            <label asp-for="Input.UserName"></label>
                            <input asp-for="Input.UserName" class="form-control" />
                            <span asp-validation-for="Input.UserName" class="text-danger"></span>
                        </div>
                        <div class="form-group password">
                            <label asp-for="Input.Password"></label>
                            <input type="password" asp-for="Input.Password" class="form-control" autocomplete="off" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="d-flex">
                            <div class="form-group login-remember" style="float: left;">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" checked="checked" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary sign-in" id="submit">Войти</button>
                    </fieldset>
                </form>
            </div>
            <div class="footer-text">
                © 2020 WPInventory
            </div>
        </div>
    </div>
</div>

