.el-input__inner {
  background-color: $--input-fill;
}
.el-card__header {
  font-weight: bold;
  padding: 10px 20px;
  color: #5085f5;
}
.customDateTimePicker {
  padding: 5px;
  border: 1px solid;
  border-radius: 4px;
  border-color: #e9ecf3;
  background-color: #e9ecf3;
}
.filter {
  padding-top: 5px;
}
.filter-header {
  font-weight: bold;
}
.table-actions .el-card__body {
  padding: 10px 20px;
}
.nodecoration {
  text-decoration: none;
}
.el-table__row td {
  padding: 2px 0px;
}
.computerCard .el-card__body {
  padding: 12px 12px;
}

.Archived .el-card__header {
  background-color: #fb8c07;
  color: white;
}
.Archived .el-card__body {
  padding: 5px 10px 0px;
}
.NonArchived .el-card__body {
  padding: 5px 10px 0px;
}
.NonArchived .el-card__header {
  background-color: #4ca750;
  color: white;
}
.el-collapse-item__content {
  padding: 10px;
  background-color: #f8f9fd;
}
.el-collapse-item__header.is-active {
  background-color: white;
}